body{
    font-family: 'Poppins', sans-serif;
    margin:0px;
}
h1{
    font-size:50px;
}
h2{
    font-size:40px;
}
.orange-color{
    color: orange;
}
.felexiable-container{
    display: flex;              
}
.half-width{
    width: 50%;
    padding: 6%;
}
.half-width img{
    width: 100%;
}
.half-width p{
    text-align: justify;
    font-weight:100;
}
.link-button{
    text-decoration: none;
    background-image: tlinear-gradien(orange, tomato);
    padding: 10px 20px;
    border-radius:5px;
    font-weight:700;
    color:white;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat:no-repeat;
}
.side-banner{
    background-image: url(images/dream-bg.png);
    background-repeat:no-repeat;
    background-position: right;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position:left;
}
.experience-item{
    box-shadow: 10px 10px 40px grey;
    width:40%;
    border-radius: 10px;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 5%;
    margin-right: 5%;
}
.experience-item p{
    text-align: justify;
    font-weight: 100;
}
#full-stack-web-dev{
    border-left:7px solid;
    border-image: linear-gradient(salmon, tomato);
    border-image-slice: 1;
}
#baby-web-dev{
    border-left:7px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice:1;
}
footer p{
    text-align:center;
    font-weight:100;
    margin-top:12%;
}
